body {
    margin: 0px;
    padding: 0px; 
    font-size: 16px;
}

/* not used for banner */
p {
    font-size : 120%;    
}

h1 {
    font-size: 250%;    
}

/* banner css */

.show-element {
    display: block;    
}

.hide-element {
    display: none;    
}

.container {
    margin: 8px;
}

.ios-pwa-banner {
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    overflow: hidden;
}

.app-icon {
    height: 100%;
    float: left;
}

.app-icon img{
    width: 50px;
    height: 50px;    
    display: block;
    margin: 0 auto;
}

.banner-text {
    width: 70%;
    float: left;
    font-size: 17px;
    padding: 5px;
}

.closing-button {
    float: right;
    height: 100%;
}

.closing-button img {    
    width: 20px;
    height: 20px;
    display: block;
    padding: 5px;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
